*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.slider-page{
    min-height:100vh;
    max-width:100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* Navbar  */

.navbar{
    width:inherit;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2b2020e7;
    color:#fff;
    align-items: center;
    padding:15px;
    font-size:13px;
    height:50px;
    z-index:2;
}

.icon{
     font-size:25px;
}
.nav-links{
    display:none;
}
.nav-item{
    margin-right:10px;
}
.right{
    margin-left:auto;
    max-width: 30%;
}
.left{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}
.menu{
    margin-left:auto !important;
    background: transparent;
    border: 0;
    color:#fff;
    margin-top:-30px;
}
.logo{
    max-height: 30px;
    background-color: #fff;
    border-radius: 20px;
    border:5px solid #fff;
    color:#12022f;

}
.X{
    color:blue !important;
}


.highlight{
    background-color: #ffdda9;
    border-radius: 14px;
    padding: 7px 10px;
    color:#12022f;
}
.nav-links hr{
    display:none;
}
@media (max-width: 768px) {
    
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
        background-color: #fff;
        border-radius: 20px;
        color:#12022f;
        padding: 10px;
    }

    .nav-item {
        padding: 10px 0;
    }
    .nav-links hr{
        display:block;
        color:#000;
    }
    .menu{
        display: flex;
    }
}


@media(min-width:768px){
    .menu{
        display:none;
    }
    .navbar{
        flex-direction: row;
    }
    .nav-links{
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
}

/* Slider */

.slider{
    height: 91.5vh;
    width:100vw;
    background-image: url('Images/img1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.slider-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(to top, #000 25%, transparent);
}
.content{
    padding:20px;
    line-height:2;
    margin-top: 40px;
    color:#fff;
    font-family:sans-serif;
    opacity:0;
    transform: translateY(30px);
    filter: blur(20px);
    animation: contentDisplay .5s .7s ease-in-out 1 forwards;
}
@keyframes contentDisplay{
    to{
        transform: translateY(0);
        filter:blur(0);
        opacity:1;
    }
}
.content .slider-head{
    font-size:50px;
}
.content small{
    font-size: smaller;
    color:#ffffffd2;
}
.content p {
    font-size: large;
}

.list{
    display:flex;
    justify-content: space-around;
    align-items: center;    
    width:90%;
    overflow-x: scroll;
    color:#fff;
}
.list::-webkit-scrollbar{
    width:0;
}
.list .item-img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 18px;;
}
.list .item{
    margin:10px;
    border-radius: 18px;;
    filter: brightness(.5);
}
.list .item.active{
    filter: brightness(1);
}
.arrow-icon{
    font-size: 20px;
    color:#fff;
    background-color: #12022f;;
}
.arrow-icon:hover{
    color:#000;
    background-color: #fff;
}
